<!DOCTYPE html>
<html>

<head>
    <title>Jay' Tuts</title>
    <link href="style.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    
</head>

<body>
    

    <div class="codeblock" style="text-align: center;">
  
    <p>"CSS lets you make a website beautiful without changing a single line of HTML."</p>
    <p>"Good HTML provides structure, but great CSS brings it to life."</p>
    <p>"A well-styled button is worth a thousand words."</p>
    <p>"The magic of CSS is turning simple code into stunning experiences."</p>
    <p>"Any fool can write code that a computer can understand. Good programmers write code that humans can understand."</p>
    <p>"First, solve the problem. Then, write the code."</p>
    <p>"Experience is the name everyone gives to their mistakes."</p>
    <p>"Make it work, make it right, make it fast."</p>
</div>


    <div class="ex-fixed" style="left: 0; top: 0;">
        <code>left:0;<br>top:0;</code>
    </div>
    <div class="ex-fixed" style="left: 0; bottom: 0;">
        <code>left:0;<br>bottom:0;</code>
    </div>
    <div class="ex-fixed" style="right: 0; top: 0;">
        <code>right:0;<br>top:0;</code>
    </div>
    <div class="ex-fixed" style="right: 0; bottom: 0;">
        <code>right:0;<br>bottom:0;</code>
    </div>

</body>

</html>
